OPENAI_API_KEY=sk-proj-gsjLtbtn
PYTHON_BACKEND_URL=https://unprimitively-unburied-latosha.ngrok-free.dev
MONGODB_URI=mongodb+srv://username:password@cluster0.3ylfdsct.mongodb.net/linkedin-scraper?retryWrites=true&w=majority
EMAIL_SERVICE=gmail
EMAIL_USER=ammarsharif377@gmail.com
EMAIL_PASS=lstv fkuw slnv jtyk